/* style.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(circle at 20% 80%, #2d2d2d 0%, #1a1a1a 100%),
    repeating-linear-gradient(45deg, #2a2a2a 0px, #2a2a2a 1px, #252525 1px, #252525 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.rotate-warning {
  display: none;
}


/* Для мобилок и планшетов в портретной ориентации */
@media (max-width: 1024px) and (orientation: portrait) {
  .rotate-warning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }

  .app-content {
    display: none !important;
  }
}

/* Скрываем сообщение в альбомной ориентации
@media (max-width: 1024px) and (orientation: landscape) {
  .rotate-warning {
    display: none !important;
  }

  .app-content {
    display: block !important;
  }
} */
